*.pyc
*.xml
*.json
.vscode/settings.json
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
*checkpoint.ipynb
.ipynb_checkpoints/plot_notebook-checkpoint.ipynb
.ipynb_checkpoints

